<link rel='stylesheet' href='/stylesheets/style.css' />
<h2>
  Task 1
  <a href="/">Home</a>
</h2>
<p> PRIMES: write a code to tabulate the number of primes less than x, the number of primes of the form 4k+1 less than x, the
  number of primes of the form 4k+3 less than x, where x assumes the values 1000, 2000,..., 10000. Print out your code and
  the tables. What is your observation?
</p>
<form method="POST">
  <input name="number" type="number">
  <button type="submit">Check</button>
</form>
<div class="cont">
  <% if (result) { %>
    <div class="narrow"> is prime? :</div>
    <div class="wide">
      <%= result.isPrime %>
    </div>
    <div class="narrow"> number of Primes in the range of 0 to x is : </div>
    <div class="wide">
      <%= result.numberOfPrimes %>
    </div>
    <div class="narrow"> Prime List : </div>
    <div class="wide">
      <p>
        <%= result.primeList %>
      </p>
    </div>
    <div class="narrow"> Primes of Form [4k+1] : </div>

    <div class="wide">
      <%= result["4k+1"] %>
    </div>
    <div class="narrow">Primes of Form [4k+3] : </div>
    <div class="wide">
      <%= result["4k+3"] %>
    </div>
    <% } %>
</div>